<div class="bg-light m-5 p-2 border border-primary border-2">
    <div>
        <strong><%= item.title %> </strong><br>
        <%= item.createdAt %><br> 
        weather: <%= item.weather %><br>
        <%= item.content %>
    </div>
</div>
